:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --darken-blue: hsl(229, 57%, 11%);
    --gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;    
    color: var(--pale-blue);
    background-color: var(--darken-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-image: url(./images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    display: grid;
    grid-template-rows: 1fr auto;
    
}

.container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 80%;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.wrapper .menu {
    padding: 2rem;
    background: var(--dark-blue);
    border-radius: 1rem 6rem 1rem 1rem;
    width: 40%;
}

.wrapper .menu .logo {
    margin-bottom: 2rem;
}

.wrapper .menu .menu-buttons {
    display: flex;
    gap: 1rem;
}

.wrapper .menu .menu-buttons .button {
    background: var(--darken-blue);
    padding: .75rem;
    display: flex;
    align-items: center;
    border-radius: .75rem;
}

.wrapper .status {
    background: var(--dark-blue);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    position: relative;
}

.wrapper .status .storage-meter {
    margin-top: 1rem;
}

.wrapper .status .storage-meter .storage-bar {
    background-color: var(--darken-blue);
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: .2rem solid var(--darken-blue);
}

.wrapper .status .storage-meter .storage-bar .storage-progress {
    height: 1rem;
    background: var(--gradient);
    border-radius: 1rem;
    position: relative;
    transition: all .3s ease;
    width: 1rem;
}

.wrapper .status .storage-meter .storage-bar .storage-progress.loaded {
    width: 81.5%;
}

.wrapper .status .storage-meter .storage-bar .storage-progress::after {
    position: absolute;
    content: "";
    height: .8rem;
    width: .8rem;
    background: var(--pale-blue);
    border-radius: 100%;
    bottom: .1rem;
    right: .1rem;
}

.wrapper .status .storage-meter .storage-minmax {
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.wrapper .status .storage-left-container {
    position: absolute;
    right: 2rem;
    top: -3rem;
    left: unset;
}

.wrapper .status .storage-left {
    background: var(--pale-blue);
    color: var(--darken-blue);
    padding: 1rem 2rem;
    border-radius: 1rem 1rem 0 1rem;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
}

.wrapper .status .storage-left::after {
    content: "";
	display: block;
	border-top: 1rem solid var(--pale-blue);
	border-left: 1rem solid transparent;
	position: absolute;
	bottom: -1rem;
    right: 0;
}

.wrapper .status .storage-left .storage-left-count {
    font-weight: bold;
    font-size: 2rem;
    margin-right: .5rem;
}

.wrapper .status .storage-left .storage-left-text {
    font-size: .75rem;
    vertical-align: text-top;
}

.attribution {
    background: var(--pale-blue);
    padding: 1rem;
    text-align: center;
    color: var(--darken-blue);
}

.attribution span {
    display: block;
}

.attribution a {
    font-weight: bold;
    color: var(--darken-blue);
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(./images/bg-mobile.png);
        background-size: cover;
    }
    
    .wrapper {
        width: 100%;
        padding: 0 2rem;
        flex-direction: column;
    }
    
    .wrapper .menu {
        width: 100%;
    }
    
    .wrapper .status {
        padding-bottom: 3rem;
    }
    
    .wrapper .status .storage-left-container {
        width: 100%;
        top: unset;
        left: 0;
        bottom: -2rem;
    }
    
    .wrapper .status .storage-left {
        border-radius: 1rem;
    }

    .wrapper .status .storage-left::after {
        display: none;
    }
}